# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment files
.env

# Ignore temporary files
*.tmp
*.temp
*.bak

# Ignore IDE-specific files
.vscode/
.idea/
.DS_Store

# Ignore OS-specific files
Thumbs.db